*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Mukta', sans-serif;
}

body{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.quiz-container{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

    background: #fff;

    margin: 0 auto;

    width: 400px;

    border-radius: .2rem;

    position: relative;

    overflow: hidden;
}

.quiz-header{
    padding: 1rem 3rem;
}

h2{
    margin: 1rem auto 3rem;

    font-weight: 600;

    color: hsl(232, 19%, 15%);
}

ul{
    list-style: none;
}

ul li{
    margin: 1rem auto;
    padding: .5rem 0rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    font-size: 1.2rem;
    color: hsl(232, 19%, 15%)
}

ul li:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

ul li label{
    margin: 0 1rem;
}

ul li label:hover{
    cursor: pointer;
    font-weight: 500;
}

button{
    width: 100%;

    display: block;

    border: none;

    padding: 1rem 1.5rem;

    font-size: 1.5rem;

    transition: all .4s ease-in-out;
}

button:hover{
    cursor: pointer;

    background: rgba(0, 0, 0, 0.1);
}

/* =========== BUTTON CORRECT ===========  */
button.correct:hover {
    background: #1bd669;

    color: #fff;
    box-shadow: 0 0 10px #1bd669;
}

/* =========== BUTTON WRONG ===========  */
button.wrong:hover {
    background: #fa2c2cea;

    color: #fff;
    box-shadow: 0 0 10px #fa2c2cea;
}

.final-result{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

    background: #fff;

    margin: 2rem auto;

    width: 400px;

    border-radius: .2rem;

    text-align: center;

    overflow: hidden;
}

.feedback{
    margin-bottom: 1rem;
}

h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.percent.low{
    color: #fa2c2cea;
}

.percent.high{
    color: #1bd669; 
}

.percent.center{
    color: #a1c4fd; 
}

.invisible{
    display: none;
    visibility: hidden;
}

